/* Google Fonts import */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Montserrat:100,300,400,500,600,700&display=swap");

/* Common Styles */

:root {
  /* Color scheme */
  --pearl-white: #e6e1c5;
  --smokey-black: #0a0908;
  --fresh-air: #a8e0ff;
  --light-blue: #5fbcff;
  --steele-blue: #3e78b2;
}

/* Body */
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/* Paragraphs */
p {
  color: var(--smokey-black);
  line-height: 1.5;
  font-size: 1.25rem;
}

/* End of Common Styles */

/* Utilities */
.upper {
  text-transform: uppercase;
}
/* End of Utilities */

/* Nav Bar Section */
.navbar {
  /* background-color: var(--pearl-white); */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  color: var(--pearl-white);
}

.navbar .nav-link {
  font-size: 1.25rem;
  margin: 0 5px 0 5px;
  color: var(--pearl-white);
  transition: all 0.5s;
}

.navbar .nav-link:hover {
  color: var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  padding-bottom: 0;
}
/* End Nav Bar Section */

/* Showcase Section */
#showcase {
  background: url("../img/showcase.jpg") bottom center / cover no-repeat;
  width: 100vw;
  height: 95vh;
  position: fixed;
  color: #fff;
  position: relative;
}

#showcase .main-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#showcase .container {
  z-index: 2;
}

#showcase h1 {
  /* color: #fff; */
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

#showcase h2 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1px;
}

#showcase p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
}

#showcase #contact-btn {
  background-color: var(--pearl-white);
  color: var(--smokey-black);
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 2rem;
  transition: all 0.2s;
  margin-top: 10px;
}

#showcase #contact-btn:hover {
  background-color: var(--smokey-black);
  color: var(--pearl-white);
}

/* End Showcase Section */

/* Media Quiries */
@media (max-width: 900px) {
  /* Navbar */
  .navbar {
    background-color: var(--smokey-black);
    color: var(--pearl-white);
    opacity: 0.6;
  }

  .navbar .nav-link {
    padding-bottom: 0;
  }

  .navbar .nav-link:hover {
    border-bottom: none;
  }
  /* End Of Navbar */

  /* Showcase */
  #showcase h1 {
    font-size: 4rem;
  }

  #showcase h2 {
    font-size: 2.5rem;
  }

  #showcase p {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  #showcase #contact-btn {
    font-size: 0.8rem;
  }
}
