/* Google Fonts import */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Montserrat:100,300,400,500,600,700&display=swap");

/* Nav Bar Section */
/* End Nav Bar Section */

/* Showcase Section */
#showcase {
  background: url("../img/showcase.jpg") bottom center / cover no-repeat;
  width: 100vw;
  height: 90vh;
}

/* End Showcase Section */

/* #showcase h1 {
  font-family: "Merriweather", serif;
  font-family: "Lato", sans-serif; 
} */
